.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.separator{
  border-top: 1px solid purple;
  margin: 20px 0;
}
.gradient-text {
  background-image: linear-gradient(to right, sk); 
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent; 
}

.shadow-right{
  box-shadow: 4px 0 15px -2px rgba(99, 7, 228, 0.7);
}
.shadow-below{
  box-shadow: 0 0 0px 0px purple;
}

.blog-content p {
  color: white !important;
}
.blog-content a {
  color: blueviolet !important;
}
.blog-content a:hover {
  color: blue !important;
}
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  color: white !important;
  font-weight: bold !important; 
  font-size: 20px;
}
.blog-content ul {
  list-style-type: disc;
  padding-left: 40px;
}